# Compiled class files
*.class
target/
gradle/
gradlew
gradlew.bat
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

### IntelliJ IDEA ###
.idea/
.gradle/
*.iws
*.iml
*.ipr
*.cmd
mvnw
.mvn